<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jokes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id = "container">
<h1 style ="color:MediumSeaGreen;text-align: center">Vikas Pandey Jokes!!</h1>
    <br>
    <br>
<p th:text="${joke}">Joke will come up here</p>
</div>
</body>
</html>